.preloader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  background-color: #F1F2F3;

  img {
    position: absolute;
    top: calc(50% - 100px);
    left: calc(50% - 100px);
  }
}
