@import "../../../index.scss";

$bg-color: #3A80BA;
$font-color: #FFFFFF;

.headStyle {
  background-color: $bg-color;
  padding: 10px $padding-h 13px;

  h1 {
    font-size: 2.5em;
    line-height: 1.225em;
    margin-top: 0;
    color: $font-color;
    font-style: normal;
    font-weight: normal;
  }
}

@media only screen and (max-width: 1260px) {
  .headStyle {
    padding: 10px $mini-padding 13px;

    h1 {
      font-size: 2em;
    }
  }
}

@media only screen and (max-width: 880px) {
  .headStyle {
    padding: 10px $micro-padding 13px;

    h1 {
      font-size: 1.2em;
    }
  }
}